In [12]:
import sys
import os
module_path = os.path.abspath(os.path.join('../../src/'))
if module_path not in sys.path:
    sys.path.append(module_path)
sys.path.append('/Users/lex/miniconda2/lib/python2.7/site-packages')
import numpy as np
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from keras.models import Sequential
from keras.layers import LSTM,Dense,Dropout,TimeDistributed,Flatten,Masking
import sklearn
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import util.util as util

def inverse_series(old_series, transformed):
    values = []
    last_value = 0
    for i in range(len(transformed)):
        if i <= len(old_series)-1:
            new_value = old_series[i] + transformed[i]
            values.append(new_value)
            last_value = new_value
        else:
            new_value = last_value + transformed[i]
            last_value = new_value
            values.append(last_value)
    return pd.Series(values)

def inverse_df(old_df, new_df, columns):
    new_data = pd.DataFrame(columns=columns)
    for i in columns:
        old = old_df[i]
        new = new_df[i]
        
        inversed_data = inverse_series(old, new)
        
        new_data[i] = inversed_data
    return new_data

In [16]:
testing = pd.DataFrame([[1, 2, 3, 4],[2,3,4,5],[5,1,2,3]], columns=['one', 'two', 'three', 'four'])
testing.head()

   one  two  three  four
0    1    2      3     4
1    2    3      4     5
2    5    1      2     3

In [20]:
diff = testing.diff().dropna().reset_index(drop=True)
diff.head()

   one  two  three  four
0  1.0  1.0    1.0   1.0
1  3.0 -2.0   -2.0  -2.0

In [22]:
inverse_df(testing[2:2], diff, ['one','two','three','four'])

   one  two  three  four
0  1.0  1.0    1.0   1.0
1  4.0 -1.0   -1.0  -1.0